<p id="notice"><%= notice %></p>

<h1>Modules</h1>

<table>

  <tbody>
    <% @course_modules.each do |course_module| %>
      <tr>
        <td><%= link_to course_module.name.to_s, course_module %></td>
        <td><%= course_module.code %></td>
        <td>Year <%= course_module.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Module', new_course_module_path %>
