<p id="notice"><%= notice %></p>

<h1>
  <%= @course_module.name %>
</h1>

<h3>
  <%= @course_module.code %> | <%= @course_module.lecturer %>
</h3>

<p>
  <strong>Year <%= @course_module.year %></strong>
</p>

<%= link_to 'Edit', edit_course_module_path(@course_module) %> |
<%= link_to 'Back', course_modules_path %>
