<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course_module.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course_module.code %>
</p>

<p>
  <strong>Year:</strong>
  <%= @course_module.year %>
</p>

<p>
  <strong>Lecturer:</strong>
  <%= @course_module.lecturer %>
</p>

<%= link_to 'Edit', edit_course_module_path(@course_module) %> |
<%= link_to 'Back', course_modules_path %>
