%table.table
  %thead
    %tr
      %th.text-center
      %th Title
      %th Likes
      %th Downloads
      %th.text-right Actions
  %tbody
    - posts.each_with_index do |post, index|
      %tr
        %td.text-center= (index+1)
        %td= link_to post.title, post_path(post)
        %td= 1
        %td= 1
        %td.td-actions.text-right
          = link_to 'View', post_path(post), class: 'btn btn-primary btn-simple'
          = link_to 'Download', rails_blob_path(post.document), class: 'btn btn-info btn-simple'
