<p id="notice"><%= notice %></p>

<h1>Modules</h1>

<table>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name.to_s, subject %></td>
        <td><%= subject.code %></td>
        <td>Year <%= subject.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Module', new_subject_path %>
