<p id="notice"><%= notice %></p>

<h1>
  <%= @subject.name %>
</h1>

<h3>
  <%= @subject.code %> | 
  <% @subject.lecturers.each do |lecturer|%>
  <%= link_to lecturer.name, "https://#{lecturer.directory_url}"  %> 
  <% end %>
</h3>

<p>
  <strong>Year <%= @subject.year %></strong>
</p>

<ol>
  <% @subject.learning_outcomes.each do |outcome| %>
  <li> <%= outcome.content %> </li>
  <% end %>
</ol>

<p>
  <%= link_to 'New Post', new_post_path %>
  <% if @filtered %>
    | <%= link_to 'Remove filter', subject_path(@subject) %>
  <% end %>
</p>

<ul>
  <% @subject.posts.each do |post|%>
    <% if !@filtered || (post.tags.include? @tag )%>
      <li style="font-size:150%;"> <strong> <%=link_to post.title, post %> </strong>

        <% post.tags.each do |tag| %>
          <%= link_to tag.name, subject_path(tag_id: tag.id) %> 
        <% end %>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
