<p id="notice"><%= notice %></p>

<h1>
  <%= @subject.name %>
</h1>

<h3>
  <%= @subject.code %> | 
  <% @subject.lecturers.each do |lecturer|%>
  <%= link_to lecturer.name, "https://#{lecturer.directory_url}"  %> 
  <% end %>
</h3>

<p>
  <strong>Year <%= @subject.year %></strong>
</p>

<ol>
  <% @subject.learning_outcomes.each do |outcome| %>
  <li> <%= outcome.content %> </li>
  <% end %>
</ol>

<p>
  <%= link_to 'New Post', new_post_path %>
</p>

<% @subject.posts.each do |post|%>
  <p>
    <% unless post.reports.any? { |report| report.reason == "Inappropriate Content" } %>
      <%=link_to post.title, post%>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
