<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <p>
  <font size = "1">pssst... Latex input is supported!
  Use <code>\[latex_code\]</code> or <code>$$latex_code$$</code>
   to render it on its own line,
  and <code>\(latex_code\)</code> to render it in-line.</font>
  </p>

  <div class="field">
    <%= form.label :document %>
    <%= form.file_field :document, accept: 'application/pdf' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
