<p id="notice"><%= notice %></p>

<h1> <%=@post.subject.name%> </h1>

<h3> <%=@post.title %> </h3>

<p>
  <%= @post.body  %>
</p>

<p>
  <% if @post.document.attached? %>
    <%= link_to 'Download', rails_blob_path(@post.document) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', @post.subject %>

<p>
<%= link_to 'New comment', new_comment_path %>
</p>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <strong> <%= comment.user.email %> <strong>     
      <p> 
        <%= comment.body %> | <%= link_to 'Edit', edit_comment_path(comment) %>
      </p>
    </li>
  <% end %>
<ul>
