<p id="notice"><%= notice %></p>

<h1> <%=@post.subject.name%> </h1>

<p>
  <strong><%= @post.body  %></strong>
</p>

<p>
  <% if @post.document.attached? %>
    <%= link_to 'Download', rails_blob_path(@post.document) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', @post.subject %>
