<p id="notice"><%= notice %></p>

<h1> <%=@post.subject.name%> </h1>

<h2> <%=@post.title %> </h2>

<p> 
  <i> Posted by <%= @post.user.email %> </i> 
</p>

<% if @post.reports.exists? %>
  <% mistake_count=@post.reports.count do |report| %>
    <% report.reason == "Mistake" %>
  <% end %>
  <% unless mistake_count == @post.reports.count %>
    <h3> This post has been reported for innapropriate content </h3>
  <% end %>
  <h3> This post has had <%= pluralize(mistake_count, 'mistake') %> reported </h3>
  <ul>
  <% @post.reports.each do |report| %>
    <% if report.reason == "Mistake" %>
      <li> <%= report.description %>
    <% end %>
  <% end %>
  </ul>
<% end %>
<p>
  <%= @post.body  %>
</p>

<p>
  <% if @post.document.attached? %>
    <%= link_to 'Download', rails_blob_path(@post.document) %>
  <% end %>
</p>

<p>
  <%=@post.likes.count%> |

  <% if @post.likes.find_by(user_id: current_user) %>
    <%=link_to 'Unlike',like_path ,method: :delete%>
  <% else %>
    <%=link_to 'Like',likes_path ,method: :post%>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', @post.subject %> |
<%= link_to 'Report', new_report_path(reporter_id: @post.id, reporter_type: @post.class.to_s.to_sym) %>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <strong> <%= comment.user.email %> <strong>     
      <%= link_to 'Report', new_report_path(reporter_id: comment.id, reporter_type: comment.class.to_s.to_sym) %>
      <p> 
        <%= comment.body %>
      </p>
    </li>
  <% end %>
<ul>
