<p id="notice"><%= notice %></p>

<script type="text/javascript" async >
  MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>

<h1> <%=@post.subject.name%> </h1>

<h3> <%=@post.title %> </h3>

<p> 
  <i> Posted by <%= @post.user.email %> </i> 
</p>

<p>
  <%= @post.body.to_s  %>
</p>

<p>
  <% if @post.document.attached? %>
    <%= link_to 'Download', rails_blob_path(@post.document) %>
  <% end %>
</p>

<p>
  <%=@post.likes.count%> |

  <% if @post.likes.find_by(user_id: current_user) %>
    <%=link_to 'Unlike',like_path ,method: :delete%>
  <% else %>
    <%=link_to 'Like',likes_path ,method: :post%>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', @post.subject %>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <strong> <%= comment.user.email %> <strong>     
      <p> 
        <%= comment.body.to_s %> | 
        <%= link_to 'Edit', edit_comment_path(comment) %>
      </p>
    </li>
  <% end %>
<ul>
