<p id="notice"><%= notice %></p>

<h1> <%=@post.subject.name%> </h1>

<h3> <%=@post.title %> </h3>

<p> 
  <i> Posted by <%= @post.user.email %> </i> 
</p>

<p>
  <%= @post.body  %>
</p>

<p>
  <% if @post.document.attached? %>
    <% if @post.document.previewable? %>
      <%= link_to (image_tag(@post.document.preview(resize: "500x500>"))), rails_blob_path(@post.document) %>
    <% else %>
      <%= link_to 'Download', rails_blob_path(@post.document) %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', @post.subject %>
