<p id="notice"><%= notice %></p>

<h1>
  <%= @lecturer.name %>
</h1>

<h3>
  <%= @lecturer.code %> | <%= @lecturer.lecturers.name %>
</h3>

<p>
  <strong>Year <%= @lecturer.year %></strong>
</p>

<%= link_to 'Edit', edit_lecturer_path(@lecturer) %> |
<%= link_to 'Back', lecturers_path %>
