<%= form_with(
  model: report,
  url: reports_path(
    reporter_type: @reporter.class.to_s.to_sym,
    reporter_id: @reporter.id
  ),
  local: true
) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(report.errors.count, "error") %> 
        prohibited this report from being saved:
      </h2>

      <ul>
        <% report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reason %>
    <%= form.select :reason, ['Mistake', 'Inappropriate Content'] %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.hidden_field :resolved, value: false %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
