<!DOCTYPE html>
<html>
  <head>
    <title>Plebs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <p>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>
  </p>
  
  <p>
    <% current_user.subjects.each do |subject| %>
      | <strong> <%= link_to subject.name, subject %> </strong> 
    <% end %>
    |
  </p>

  <body>
    <%= yield %>
  </body>
</html>
